[submodule "conda-smithy"]
	url = https://github.com/conda-forge/conda-smithy-feedstock.git
	path = feedstocks/conda-smithy
	branch = refs/heads/master
[submodule "cycler"]
	url = https://github.com/conda-forge/cycler-feedstock.git
	path = feedstocks/cycler
	branch = refs/heads/master
[submodule "matplotlib"]
	url = https://github.com/conda-forge/matplotlib-feedstock.git
	path = feedstocks/matplotlib
	branch = refs/heads/master
[submodule "mo_pack"]
	url = https://github.com/conda-forge/mo_pack-feedstock.git
	path = feedstocks/mo_pack
	branch = refs/heads/master
[submodule "obvious-ci"]
	url = https://github.com/conda-forge/obvious-ci-feedstock.git
	path = feedstocks/obvious-ci
	branch = refs/heads/master
[submodule "conda-build-all"]
	url = https://github.com/conda-forge/conda-build-all-feedstock.git
	path = feedstocks/conda-build-all
[submodule "pyproj"]
	url = https://github.com/conda-forge/pyproj-feedstock.git
	path = feedstocks/pyproj
[submodule "wcwidth"]
	url = https://github.com/conda-forge/wcwidth-feedstock.git
	path = feedstocks/wcwidth
[submodule "conda-execute"]
	url = https://github.com/conda-forge/conda-execute-feedstock.git
	path = feedstocks/conda-execute
[submodule "xonsh"]
	url = https://github.com/conda-forge/xonsh-feedstock.git
	path = feedstocks/xonsh
[submodule "ruamel.ordereddict"]
	url = https://github.com/conda-forge/ruamel.ordereddict-feedstock.git
	path = feedstocks/ruamel.ordereddict
[submodule "ruamel.yaml"]
	url = https://github.com/conda-forge/ruamel.yaml-feedstock.git
	path = feedstocks/ruamel.yaml
[submodule "setproctitle"]
	url = https://github.com/conda-forge/setproctitle-feedstock.git
	path = feedstocks/setproctitle
[submodule "smmap"]
	url = https://github.com/conda-forge/smmap-feedstock.git
	path = feedstocks/smmap
[submodule "functools32"]
	url = https://github.com/conda-forge/functools32-feedstock.git
	path = feedstocks/functools32
[submodule "gitpython"]
	url = https://github.com/conda-forge/gitpython-feedstock.git
	path = feedstocks/gitpython
[submodule "msinttypes"]
	url = https://github.com/conda-forge/msinttypes-feedstock.git
	path = feedstocks/msinttypes
[submodule "pygithub"]
	url = https://github.com/conda-forge/pygithub-feedstock.git
	path = feedstocks/pygithub
[submodule "tifffile"]
	url = https://github.com/conda-forge/tifffile-feedstock.git
	path = feedstocks/tifffile
[submodule "metpy"]
	url = https://github.com/conda-forge/metpy-feedstock.git
	path = feedstocks/metpy
[submodule "pint"]
	url = https://github.com/conda-forge/pint-feedstock.git
	path = feedstocks/pint
[submodule "protobuf"]
	url = https://github.com/conda-forge/protobuf-feedstock.git
	path = feedstocks/protobuf
[submodule "siphon"]
	url = https://github.com/conda-forge/siphon-feedstock.git
	path = feedstocks/siphon
[submodule "conda-testenv"]
	url = https://github.com/conda-forge/conda-testenv-feedstock.git
	path = feedstocks/conda-testenv
[submodule "arm_pyart"]
	url = https://github.com/conda-forge/arm_pyart-feedstock.git
	path = feedstocks/arm_pyart
[submodule "artview"]
	url = https://github.com/conda-forge/artview-feedstock.git
	path = feedstocks/artview
[submodule "contextlib2"]
	url = https://github.com/conda-forge/contextlib2-feedstock.git
	path = feedstocks/contextlib2
[submodule "geos"]
	url = https://github.com/conda-forge/geos-feedstock.git
	path = feedstocks/geos
[submodule "gitdb"]
	url = https://github.com/conda-forge/gitdb-feedstock.git
	path = feedstocks/gitdb
[submodule "mingwpy"]
	url = https://github.com/conda-forge/mingwpy-feedstock.git
	path = feedstocks/mingwpy
[submodule "netcdf4"]
	url = https://github.com/conda-forge/netcdf4-feedstock.git
	path = feedstocks/netcdf4
[submodule "pep8-naming"]
	url = https://github.com/conda-forge/pep8-naming-feedstock.git
	path = feedstocks/pep8-naming
[submodule "prompt_toolkit"]
	url = https://github.com/conda-forge/prompt_toolkit-feedstock.git
	path = feedstocks/prompt_toolkit
[submodule "qutip"]
	url = https://github.com/conda-forge/qutip-feedstock.git
	path = feedstocks/qutip
[submodule "shapely"]
	url = https://github.com/conda-forge/shapely-feedstock.git
	path = feedstocks/shapely
[submodule "tensorflow"]
	url = https://github.com/conda-forge/tensorflow-feedstock.git
	path = feedstocks/tensorflow
[submodule "trmm_rsl"]
	url = https://github.com/conda-forge/trmm_rsl-feedstock.git
	path = feedstocks/trmm_rsl
[submodule "vcrpy"]
	url = https://github.com/conda-forge/vcrpy-feedstock.git
	path = feedstocks/vcrpy
[submodule "wradlib"]
	url = https://github.com/conda-forge/wradlib-feedstock.git
	path = feedstocks/wradlib
[submodule "gdal"]
	url = https://github.com/conda-forge/gdal-feedstock.git
	path = feedstocks/gdal
[submodule "openjpeg"]
	url = https://github.com/conda-forge/openjpeg-feedstock.git
	path = feedstocks/openjpeg
[submodule "amqp"]
	url = https://github.com/conda-forge/amqp-feedstock.git
	path = feedstocks/amqp
[submodule "antlr"]
	url = https://github.com/conda-forge/antlr-feedstock.git
	path = feedstocks/antlr
[submodule "anyjson"]
	url = https://github.com/conda-forge/anyjson-feedstock.git
	path = feedstocks/anyjson
[submodule "autoconf"]
	url = https://github.com/conda-forge/autoconf-feedstock.git
	path = feedstocks/autoconf
[submodule "automake"]
	url = https://github.com/conda-forge/automake-feedstock.git
	path = feedstocks/automake
[submodule "billiard"]
	url = https://github.com/conda-forge/billiard-feedstock.git
	path = feedstocks/billiard
[submodule "celery"]
	url = https://github.com/conda-forge/celery-feedstock.git
	path = feedstocks/celery
[submodule "cyordereddict"]
	url = https://github.com/conda-forge/cyordereddict-feedstock.git
	path = feedstocks/cyordereddict
[submodule "expat"]
	url = https://github.com/conda-forge/expat-feedstock.git
	path = feedstocks/expat
[submodule "flower"]
	url = https://github.com/conda-forge/flower-feedstock.git
	path = feedstocks/flower
[submodule "gsl"]
	url = https://github.com/conda-forge/gsl-feedstock.git
	path = feedstocks/gsl
[submodule "hiredis"]
	url = https://github.com/conda-forge/hiredis-feedstock.git
	path = feedstocks/hiredis
[submodule "kombu"]
	url = https://github.com/conda-forge/kombu-feedstock.git
	path = feedstocks/kombu
[submodule "m4"]
	url = https://github.com/conda-forge/m4-feedstock.git
	path = feedstocks/m4
[submodule "nco"]
	url = https://github.com/conda-forge/nco-feedstock.git
	path = feedstocks/nco
[submodule "pandoc"]
	url = https://github.com/conda-forge/pandoc-feedstock.git
	path = feedstocks/pandoc
[submodule "pyinotify"]
	url = https://github.com/conda-forge/pyinotify-feedstock.git
	path = feedstocks/pyinotify
[submodule "pytest-cov"]
	url = https://github.com/conda-forge/pytest-cov-feedstock.git
	path = feedstocks/pytest-cov
[submodule "udunits2"]
	url = https://github.com/conda-forge/udunits2-feedstock.git
	path = feedstocks/udunits2
[submodule "cmake"]
	url = https://github.com/conda-forge/cmake-feedstock.git
	path = feedstocks/cmake
[submodule "fftw"]
	url = https://github.com/conda-forge/fftw-feedstock.git
	path = feedstocks/fftw
[submodule "g2clib"]
	url = https://github.com/conda-forge/g2clib-feedstock.git
	path = feedstocks/g2clib
[submodule "hdfeos2"]
	url = https://github.com/conda-forge/hdfeos2-feedstock.git
	path = feedstocks/hdfeos2
[submodule "hdfeos5"]
	url = https://github.com/conda-forge/hdfeos5-feedstock.git
	path = feedstocks/hdfeos5
[submodule "jasper"]
	url = https://github.com/conda-forge/jasper-feedstock.git
	path = feedstocks/jasper
[submodule "libiconv"]
	url = https://github.com/conda-forge/libiconv-feedstock.git
	path = feedstocks/libiconv
[submodule "pynio"]
	url = https://github.com/conda-forge/pynio-feedstock.git
	path = feedstocks/pynio
[submodule "pytest-runner"]
	url = https://github.com/conda-forge/pytest-runner-feedstock.git
	path = feedstocks/pytest-runner
[submodule "qimage2ndarray"]
	url = https://github.com/conda-forge/qimage2ndarray-feedstock.git
	path = feedstocks/qimage2ndarray
[submodule "perl"]
	url = https://github.com/conda-forge/perl-feedstock.git
	path = feedstocks/perl
[submodule "jq"]
	url = https://github.com/conda-forge/jq-feedstock.git
	path = feedstocks/jq
[submodule "libtool"]
	url = https://github.com/conda-forge/libtool-feedstock.git
	path = feedstocks/libtool
[submodule "oniguruma"]
	url = https://github.com/conda-forge/oniguruma-feedstock.git
	path = feedstocks/oniguruma
[submodule "pyfftw"]
	url = https://github.com/conda-forge/pyfftw-feedstock.git
	path = feedstocks/pyfftw
[submodule "esmf"]
	url = https://github.com/conda-forge/esmf-feedstock.git
	path = feedstocks/esmf
[submodule "esmpy"]
	url = https://github.com/conda-forge/esmpy-feedstock.git
	path = feedstocks/esmpy
[submodule "glances"]
	url = https://github.com/conda-forge/glances-feedstock.git
	path = feedstocks/glances
[submodule "mahotas"]
	url = https://github.com/conda-forge/mahotas-feedstock.git
	path = feedstocks/mahotas
[submodule "netcdf-fortran"]
	url = https://github.com/conda-forge/netcdf-fortran-feedstock.git
	path = feedstocks/netcdf-fortran
[submodule "pixman"]
	url = https://github.com/conda-forge/pixman-feedstock.git
	path = feedstocks/pixman
[submodule "pkg-config"]
	url = https://github.com/conda-forge/pkg-config-feedstock.git
	path = feedstocks/pkg-config
[submodule "pytest-mpl"]
	url = https://github.com/conda-forge/pytest-mpl-feedstock.git
	path = feedstocks/pytest-mpl
[submodule "h5netcdf"]
	url = https://github.com/conda-forge/h5netcdf-feedstock.git
	path = feedstocks/h5netcdf
[submodule "xarray"]
	url = https://github.com/conda-forge/xarray-feedstock.git
	path = feedstocks/xarray
[submodule "proj.4"]
	url = https://github.com/conda-forge/proj.4-feedstock.git
	path = feedstocks/proj.4
[submodule "cloudpickle"]
	url = https://github.com/conda-forge/cloudpickle-feedstock.git
	path = feedstocks/cloudpickle
[submodule "freeimage"]
	url = https://github.com/conda-forge/freeimage-feedstock.git
	path = feedstocks/freeimage
[submodule "webcolors"]
	url = https://github.com/conda-forge/webcolors-feedstock.git
	path = feedstocks/webcolors
[submodule "ncurses"]
	url = https://github.com/conda-forge/ncurses-feedstock.git
	path = feedstocks/ncurses
[submodule "runipy"]
	url = https://github.com/conda-forge/runipy-feedstock.git
	path = feedstocks/runipy
[submodule "splauncher"]
	url = https://github.com/conda-forge/splauncher-feedstock.git
	path = feedstocks/splauncher
[submodule "click-plugins"]
	url = https://github.com/conda-forge/click-plugins-feedstock.git
	path = feedstocks/click-plugins
[submodule "descartes"]
	url = https://github.com/conda-forge/descartes-feedstock.git
	path = feedstocks/descartes
[submodule "fiona"]
	url = https://github.com/conda-forge/fiona-feedstock.git
	path = feedstocks/fiona
[submodule "folium"]
	url = https://github.com/conda-forge/folium-feedstock.git
	path = feedstocks/folium
[submodule "geopandas"]
	url = https://github.com/conda-forge/geopandas-feedstock.git
	path = feedstocks/geopandas
[submodule "geopy"]
	url = https://github.com/conda-forge/geopy-feedstock.git
	path = feedstocks/geopy
[submodule "gflags"]
	url = https://github.com/conda-forge/gflags-feedstock.git
	path = feedstocks/gflags
[submodule "git"]
	url = https://github.com/conda-forge/git-feedstock.git
	path = feedstocks/git
[submodule "glog"]
	url = https://github.com/conda-forge/glog-feedstock.git
	path = feedstocks/glog
[submodule "leveldb"]
	url = https://github.com/conda-forge/leveldb-feedstock.git
	path = feedstocks/leveldb
[submodule "libspatialindex"]
	url = https://github.com/conda-forge/libspatialindex-feedstock.git
	path = feedstocks/libspatialindex
[submodule "munch"]
	url = https://github.com/conda-forge/munch-feedstock.git
	path = feedstocks/munch
[submodule "rtree"]
	url = https://github.com/conda-forge/rtree-feedstock.git
	path = feedstocks/rtree
[submodule "vincent"]
	url = https://github.com/conda-forge/vincent-feedstock.git
	path = feedstocks/vincent
[submodule "cdo"]
	url = https://github.com/conda-forge/cdo-feedstock.git
	path = feedstocks/cdo
[submodule "cf_units"]
	url = https://github.com/conda-forge/cf_units-feedstock.git
	path = feedstocks/cf_units
[submodule "ctd"]
	url = https://github.com/conda-forge/ctd-feedstock.git
	path = feedstocks/ctd
[submodule "gsw"]
	url = https://github.com/conda-forge/gsw-feedstock.git
	path = feedstocks/gsw
[submodule "libuuid"]
	url = https://github.com/conda-forge/libuuid-feedstock.git
	path = feedstocks/libuuid
[submodule "seawater"]
	url = https://github.com/conda-forge/seawater-feedstock.git
	path = feedstocks/seawater
[submodule "pynco"]
	url = https://github.com/conda-forge/pynco-feedstock.git
	path = feedstocks/pynco
[submodule "appdirs"]
	url = https://github.com/conda-forge/appdirs-feedstock.git
	path = feedstocks/appdirs
[submodule "freezegun"]
	url = https://github.com/conda-forge/freezegun-feedstock.git
	path = feedstocks/freezegun
[submodule "geojson"]
	url = https://github.com/conda-forge/geojson-feedstock.git
	path = feedstocks/geojson
[submodule "httpretty"]
	url = https://github.com/conda-forge/httpretty-feedstock.git
	path = feedstocks/httpretty
[submodule "isodate"]
	url = https://github.com/conda-forge/isodate-feedstock.git
	path = feedstocks/isodate
[submodule "suds-jurko"]
	url = https://github.com/conda-forge/suds-jurko-feedstock.git
	path = feedstocks/suds-jurko
[submodule "ulmo"]
	url = https://github.com/conda-forge/ulmo-feedstock.git
	path = feedstocks/ulmo
[submodule "codar2netcdf"]
	url = https://github.com/conda-forge/codar2netcdf-feedstock.git
	path = feedstocks/codar2netcdf
[submodule "epic2cf"]
	url = https://github.com/conda-forge/epic2cf-feedstock.git
	path = feedstocks/epic2cf
[submodule "flopy"]
	url = https://github.com/conda-forge/flopy-feedstock.git
	path = feedstocks/flopy
[submodule "modflow2netcdf"]
	url = https://github.com/conda-forge/modflow2netcdf-feedstock.git
	path = feedstocks/modflow2netcdf
[submodule "pyaxiom"]
	url = https://github.com/conda-forge/pyaxiom-feedstock.git
	path = feedstocks/pyaxiom
[submodule "pygc"]
	url = https://github.com/conda-forge/pygc-feedstock.git
	path = feedstocks/pygc
[submodule "pyncml"]
	url = https://github.com/conda-forge/pyncml-feedstock.git
	path = feedstocks/pyncml
[submodule "wera2netcdf"]
	url = https://github.com/conda-forge/wera2netcdf-feedstock.git
	path = feedstocks/wera2netcdf
[submodule "windrose"]
	url = https://github.com/conda-forge/windrose-feedstock.git
	path = feedstocks/windrose
[submodule "glpk"]
	url = https://github.com/conda-forge/glpk-feedstock.git
	path = feedstocks/glpk
[submodule "cartopy"]
	url = https://github.com/conda-forge/cartopy-feedstock.git
	path = feedstocks/cartopy
[submodule "owslib"]
	url = https://github.com/conda-forge/owslib-feedstock.git
	path = feedstocks/owslib
[submodule "pyepsg"]
	url = https://github.com/conda-forge/pyepsg-feedstock.git
	path = feedstocks/pyepsg
[submodule "pyshp"]
	url = https://github.com/conda-forge/pyshp-feedstock.git
	path = feedstocks/pyshp
[submodule "cc-plugin-glider"]
	url = https://github.com/conda-forge/cc-plugin-glider-feedstock.git
	path = feedstocks/cc-plugin-glider
[submodule "compliance-checker"]
	url = https://github.com/conda-forge/compliance-checker-feedstock.git
	path = feedstocks/compliance-checker
[submodule "lmdb"]
	url = https://github.com/conda-forge/lmdb-feedstock.git
	path = feedstocks/lmdb
[submodule "mox"]
	url = https://github.com/conda-forge/mox-feedstock.git
	path = feedstocks/mox
[submodule "petulant-bear"]
	url = https://github.com/conda-forge/petulant-bear-feedstock.git
	path = feedstocks/petulant-bear
[submodule "pygeoif"]
	url = https://github.com/conda-forge/pygeoif-feedstock.git
	path = feedstocks/pygeoif
[submodule "python-gflags"]
	url = https://github.com/conda-forge/python-gflags-feedstock.git
	path = feedstocks/python-gflags
[submodule "python-leveldb"]
	url = https://github.com/conda-forge/python-leveldb-feedstock.git
	path = feedstocks/python-leveldb
[submodule "wicken"]
	url = https://github.com/conda-forge/wicken-feedstock.git
	path = feedstocks/wicken
[submodule "google-apputils"]
	url = https://github.com/conda-forge/google-apputils-feedstock.git
	path = feedstocks/google-apputils
[submodule "auditwheel"]
	url = https://github.com/conda-forge/auditwheel-feedstock.git
	path = feedstocks/auditwheel
[submodule "csa"]
	url = https://github.com/conda-forge/csa-feedstock.git
	path = feedstocks/csa
[submodule "gridgen"]
	url = https://github.com/conda-forge/gridgen-feedstock.git
	path = feedstocks/gridgen
[submodule "gridutils"]
	url = https://github.com/conda-forge/gridutils-feedstock.git
	path = feedstocks/gridutils
[submodule "nn"]
	url = https://github.com/conda-forge/nn-feedstock.git
	path = feedstocks/nn
[submodule "pyelftools"]
	url = https://github.com/conda-forge/pyelftools-feedstock.git
	path = feedstocks/pyelftools
[submodule "pygridgen"]
	url = https://github.com/conda-forge/pygridgen-feedstock.git
	path = feedstocks/pygridgen
[submodule "pygridtools"]
	url = https://github.com/conda-forge/pygridtools-feedstock.git
	path = feedstocks/pygridtools
[submodule "rank_filter"]
	url = https://github.com/conda-forge/rank_filter-feedstock.git
	path = feedstocks/rank_filter
[submodule "typing"]
	url = https://github.com/conda-forge/typing-feedstock.git
	path = feedstocks/typing
[submodule "python-cdo"]
	url = https://github.com/conda-forge/python-cdo-feedstock.git
	path = feedstocks/python-cdo
[submodule "django-celery"]
	url = https://github.com/conda-forge/django-celery-feedstock.git
	path = feedstocks/django-celery
[submodule "django"]
	url = https://github.com/conda-forge/django-feedstock.git
	path = feedstocks/django
[submodule "django-nested-inline"]
	url = https://github.com/conda-forge/django-nested-inline-feedstock.git
	path = feedstocks/django-nested-inline
[submodule "django-redis-cache"]
	url = https://github.com/conda-forge/django-redis-cache-feedstock.git
	path = feedstocks/django-redis-cache
[submodule "django-taggit"]
	url = https://github.com/conda-forge/django-taggit-feedstock.git
	path = feedstocks/django-taggit
[submodule "boost"]
	url = https://github.com/conda-forge/boost-feedstock.git
	path = feedstocks/boost
[submodule "hdf5"]
	url = https://github.com/conda-forge/hdf5-feedstock.git
	path = feedstocks/hdf5
[submodule "basemap-data-hires"]
	url = https://github.com/conda-forge/basemap-data-hires-feedstock.git
	path = feedstocks/basemap-data-hires
[submodule "basemap"]
	url = https://github.com/conda-forge/basemap-feedstock.git
	path = feedstocks/basemap
[submodule "h5py"]
	url = https://github.com/conda-forge/h5py-feedstock.git
	path = feedstocks/h5py
[submodule "icu"]
	url = https://github.com/conda-forge/icu-feedstock.git
	path = feedstocks/icu
[submodule "giflib"]
	url = https://github.com/conda-forge/giflib-feedstock.git
	path = feedstocks/giflib
[submodule "gmp"]
	url = https://github.com/conda-forge/gmp-feedstock.git
	path = feedstocks/gmp
[submodule "mpfr"]
	url = https://github.com/conda-forge/mpfr-feedstock.git
	path = feedstocks/mpfr
[submodule "mpc"]
	url = https://github.com/conda-forge/mpc-feedstock.git
	path = feedstocks/mpc
[submodule "vigra"]
	url = https://github.com/conda-forge/vigra-feedstock.git
	path = feedstocks/vigra
[submodule "mpir"]
	url = https://github.com/conda-forge/mpir-feedstock.git
	path = feedstocks/mpir
[submodule "yasm"]
	url = https://github.com/conda-forge/yasm-feedstock.git
	path = feedstocks/yasm
[submodule "x264"]
	url = https://github.com/conda-forge/x264-feedstock.git
	path = feedstocks/x264
[submodule "flann"]
	url = https://github.com/conda-forge/flann-feedstock.git
	path = feedstocks/flann
[submodule "pyflann"]
	url = https://github.com/conda-forge/pyflann-feedstock.git
	path = feedstocks/pyflann
[submodule "affine"]
	path = feedstocks/affine
	url = https://github.com/conda-forge/affine-feedstock.git
[submodule "check"]
	path = feedstocks/check
	url = https://github.com/conda-forge/check-feedstock.git
[submodule "rasterio"]
	path = feedstocks/rasterio
	url = https://github.com/conda-forge/rasterio-feedstock.git
[submodule "texinfo"]
	path = feedstocks/texinfo
	url = https://github.com/conda-forge/texinfo-feedstock.git
[submodule "yt"]
	path = feedstocks/yt
	url = https://github.com/conda-forge/yt-feedstock.git
[submodule "dj-static"]
	path = feedstocks/dj-static
	url = https://github.com/conda-forge/dj-static-feedstock.git
[submodule "libblitz"]
	path = feedstocks/libblitz
	url = https://github.com/conda-forge/libblitz-feedstock.git
[submodule "pystache"]
	path = feedstocks/pystache
	url = https://github.com/conda-forge/pystache-feedstock.git
[submodule "static"]
	path = feedstocks/static
	url = https://github.com/conda-forge/static-feedstock.git
[submodule "flex"]
	path = feedstocks/flex
	url = https://github.com/conda-forge/flex-feedstock.git
[submodule "bison"]
	path = feedstocks/bison
	url = https://github.com/conda-forge/bison-feedstock.git
[submodule "libmatio"]
	path = feedstocks/libmatio
	url = https://github.com/conda-forge/libmatio-feedstock.git
[submodule "netcdf-cxx4"]
	path = feedstocks/netcdf-cxx4
	url = https://github.com/conda-forge/netcdf-cxx4-feedstock.git
[submodule "pytest-benchmark"]
	path = feedstocks/pytest-benchmark
	url = https://github.com/conda-forge/pytest-benchmark-feedstock.git
[submodule "sox"]
	path = feedstocks/sox
	url = https://github.com/conda-forge/sox-feedstock.git
[submodule "libunistring"]
	path = feedstocks/libunistring
	url = https://github.com/conda-forge/libunistring-feedstock.git
[submodule "libffi"]
	path = feedstocks/libffi
	url = https://github.com/conda-forge/libffi-feedstock.git
[submodule "libmo_unpack"]
	path = feedstocks/libmo_unpack
	url = https://github.com/conda-forge/libmo_unpack-feedstock.git
[submodule "libatomic_ops"]
	path = feedstocks/libatomic_ops
	url = https://github.com/conda-forge/libatomic_ops-feedstock.git
[submodule "bdw-gc"]
	path = feedstocks/bdw-gc
	url = https://github.com/conda-forge/bdw-gc-feedstock.git
[submodule "json-c"]
	path = feedstocks/json-c
	url = https://github.com/conda-forge/json-c-feedstock.git
[submodule "awesome-slugify"]
	path = feedstocks/awesome-slugify
	url = https://github.com/conda-forge/awesome-slugify-feedstock.git
[submodule "django-autoslug"]
	path = feedstocks/django-autoslug
	url = https://github.com/conda-forge/django-autoslug-feedstock.git
[submodule "django-debug-toolbar"]
	path = feedstocks/django-debug-toolbar
	url = https://github.com/conda-forge/django-debug-toolbar-feedstock.git
[submodule "django-extensions"]
	path = feedstocks/django-extensions
	url = https://github.com/conda-forge/django-extensions-feedstock.git
[submodule "django-grappelli"]
	path = feedstocks/django-grappelli
	url = https://github.com/conda-forge/django-grappelli-feedstock.git
[submodule "django-typed-models"]
	path = feedstocks/django-typed-models
	url = https://github.com/conda-forge/django-typed-models-feedstock.git
[submodule "djangorestframework"]
	path = feedstocks/djangorestframework
	url = https://github.com/conda-forge/djangorestframework-feedstock.git
[submodule "luigi"]
	path = feedstocks/luigi
	url = https://github.com/conda-forge/luigi-feedstock.git
[submodule "pytest-django"]
	path = feedstocks/pytest-django
	url = https://github.com/conda-forge/pytest-django-feedstock.git
[submodule "regex"]
	path = feedstocks/regex
	url = https://github.com/conda-forge/regex-feedstock.git
[submodule "requests-toolbelt"]
	path = feedstocks/requests-toolbelt
	url = https://github.com/conda-forge/requests-toolbelt-feedstock.git
[submodule "setuptools_scm"]
	path = feedstocks/setuptools_scm
	url = https://github.com/conda-forge/setuptools_scm-feedstock.git
[submodule "eigen"]
	path = feedstocks/eigen
	url = https://github.com/conda-forge/eigen-feedstock.git
[submodule "django_polymorphic"]
	path = feedstocks/django_polymorphic
	url = https://github.com/conda-forge/django_polymorphic-feedstock.git
[submodule "opencv"]
	path = feedstocks/opencv
	url = https://github.com/conda-forge/opencv-feedstock.git
[submodule "freexl"]
	path = feedstocks/freexl
	url = https://github.com/conda-forge/freexl-feedstock.git
[submodule "jplephem"]
	path = feedstocks/jplephem
	url = https://github.com/conda-forge/jplephem-feedstock.git
[submodule "poliastro"]
	path = feedstocks/poliastro
	url = https://github.com/conda-forge/poliastro-feedstock.git
[submodule "haversine"]
	path = feedstocks/haversine
	url = https://github.com/conda-forge/haversine-feedstock.git
[submodule "libsodium"]
	path = feedstocks/libsodium
	url = https://github.com/conda-forge/libsodium-feedstock.git
[submodule "zeromq"]
	path = feedstocks/zeromq
	url = https://github.com/conda-forge/zeromq-feedstock.git
[submodule "ffmpeg"]
	path = feedstocks/ffmpeg
	url = https://github.com/conda-forge/ffmpeg-feedstock.git
[submodule "bob.extension"]
	path = feedstocks/bob.extension
	url = https://github.com/conda-forge/bob.extension-feedstock.git
[submodule "c99-to-c89"]
	path = feedstocks/c99-to-c89
	url = https://github.com/conda-forge/c99-to-c89-feedstock.git
[submodule "biggus"]
	path = feedstocks/biggus
	url = https://github.com/conda-forge/biggus-feedstock.git
[submodule "ecmwf_grib"]
	path = feedstocks/ecmwf_grib
	url = https://github.com/conda-forge/ecmwf_grib-feedstock.git
[submodule "pyke"]
	path = feedstocks/pyke
	url = https://github.com/conda-forge/pyke-feedstock.git
[submodule "libxml2"]
	path = feedstocks/libxml2
	url = https://github.com/conda-forge/libxml2-feedstock.git
[submodule "pyamg"]
	path = feedstocks/pyamg
	url = https://github.com/conda-forge/pyamg-feedstock.git
[submodule "nuitka"]
	path = feedstocks/nuitka
	url = https://github.com/conda-forge/nuitka-feedstock.git
[submodule "libspatialite"]
	path = feedstocks/libspatialite
	url = https://github.com/conda-forge/libspatialite-feedstock.git
[submodule "megaman"]
	path = feedstocks/megaman
	url = https://github.com/conda-forge/megaman-feedstock.git
[submodule "caffe"]
	path = feedstocks/caffe
	url = https://github.com/conda-forge/caffe-feedstock.git
[submodule "snuggs"]
	path = feedstocks/snuggs
	url = https://github.com/conda-forge/snuggs-feedstock.git
[submodule "primesieve"]
	path = feedstocks/primesieve
	url = https://github.com/conda-forge/primesieve-feedstock.git
[submodule "python-primesieve"]
	path = feedstocks/python-primesieve
	url = https://github.com/conda-forge/python-primesieve-feedstock.git
[submodule "ipython"]
	path = feedstocks/ipython
	url = https://github.com/conda-forge/ipython-feedstock.git
[submodule "cmt"]
	path = feedstocks/cmt
	url = https://github.com/conda-forge/cmt-feedstock.git
[submodule "bob.blitz"]
	path = feedstocks/bob.blitz
	url = https://github.com/conda-forge/bob.blitz-feedstock.git
[submodule "mpld3"]
	path = feedstocks/mpld3
	url = https://github.com/conda-forge/mpld3-feedstock.git
[submodule "mplexporter"]
	path = feedstocks/mplexporter
	url = https://github.com/conda-forge/mplexporter-feedstock.git
[submodule "mplleaflet"]
	path = feedstocks/mplleaflet
	url = https://github.com/conda-forge/mplleaflet-feedstock.git
[submodule "pydicom"]
	path = feedstocks/pydicom
	url = https://github.com/conda-forge/pydicom-feedstock.git
[submodule "nodejs"]
	path = feedstocks/nodejs
	url = https://github.com/conda-forge/nodejs-feedstock.git
[submodule "jupyter_core"]
	path = feedstocks/jupyter_core
	url = https://github.com/conda-forge/jupyter_core-feedstock.git
[submodule "notebook"]
	path = feedstocks/notebook
	url = https://github.com/conda-forge/notebook-feedstock.git
[submodule "ipykernel"]
	path = feedstocks/ipykernel
	url = https://github.com/conda-forge/ipykernel-feedstock.git
[submodule "nbconvert"]
	path = feedstocks/nbconvert
	url = https://github.com/conda-forge/nbconvert-feedstock.git
[submodule "babel"]
	path = feedstocks/babel
	url = https://github.com/conda-forge/babel-feedstock.git
[submodule "pywebhdfs"]
	path = feedstocks/pywebhdfs
	url = https://github.com/conda-forge/pywebhdfs-feedstock.git
[submodule "colorlog"]
	path = feedstocks/colorlog
	url = https://github.com/conda-forge/colorlog-feedstock.git
[submodule "ninja"]
	path = feedstocks/ninja
	url = https://github.com/conda-forge/ninja-feedstock.git
[submodule "configparser"]
	path = feedstocks/configparser
	url = https://github.com/conda-forge/configparser-feedstock.git
[submodule "entrypoints"]
	path = feedstocks/entrypoints
	url = https://github.com/conda-forge/entrypoints-feedstock.git
[submodule "valideer"]
	path = feedstocks/valideer
	url = https://github.com/conda-forge/valideer-feedstock.git
